<div fxLayout="row">
    <div fxLayout="column" fxFlex="40%" class="lista">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort style="cursor: pointer">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="onClickGiveRestauranteID(element.id,element.name)">
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div fxLayoutAlign="left">
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>

    <div fxFlex="55%" class="grid">
        <!-- <div> -->
            <!-- <div fxFlex="30%" fxFlexAlign="center"> -->
                <div class="titulo">{{RestauranteName}}</div>
                <div *ngIf="click" class="instrucciones"> Seleccione la mesa con el numero de sillas que desee.</div>
            <!-- </div> -->
            <mat-grid-list cols="2" rowHeight="150px" gutterSize="5px">
                <div *ngFor="let m of Mesas;">
                    <mat-grid-tile style="cursor: pointer" (click)="onClickMesa(m.data.id,m.data.free)">
                        <div fxLayout="row" class="cells">
                            <div style="position: relative">
                                <img *ngIf="m.data.free" src="./assets/MesaDisponible.svg">
                                <img *ngIf="!(m.data.free)" src="./assets/mesaOcupada.svg">
                                <span
                                    style="top: 25%;left: 27%;font-size: 1rem;position: absolute;font-weight: 900;color: white;">
                                    Mesa # {{m.data.id}}
                                </span>
                            </div>
                            <div style="position: relative; ">
                                <img *ngIf="m.data.free" src="./assets/SillaDisponible.svg">
                                <img *ngIf="!(m.data.free)" src="./assets/SillaOcupada.svg">
                                <span
                                    style="top: 10%;left: 43%;font-size: 1rem;position: absolute;font-weight: 900;color: white;">
                                    {{m.data.sillas}}
                                </span>
                            </div>
                        </div>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        <!-- </div> -->

        <!-- <div *ngFor="let r of Mesas;">
            <ul>
                <li>
                    <p>{{r.id}}</p>
                </li>
            </ul>
        </div> -->
    </div>
</div>