<div fxLayout="row">
    <div fxLayout="column" fxFlex="40%" class="lista">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort style="cursor: pointer">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="giveRestauranteID(element.id)">
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div fxLayoutAlign="left">
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>

    <div fxFlex="55%" class="grid">
        <mat-grid-list cols="3" gutterSize="10px">
            <div *ngFor="let m of Mesas;">
                <mat-grid-tile style="cursor: pointer">
                    <div class="md-card-wrapper">
                        <mat-card>
                            <img mat-card-image *ngIf="m.data.free" src="./assets/mesaVacia.svg">
                            <img mat-card-image *ngIf="!(m.data.free)" src="./assets/mesaOcupada.svg">
                            <mat-card-footer class="text">
                                Mesa # {{m.data.id}}, Sillas: {{m.data.sillas}}
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>

        <!-- <div *ngFor="let r of Mesas;">
            <ul>
                <li>
                    <p>{{r.id}}</p>
                </li>
            </ul>
        </div> -->
    </div>
</div>