<div fxLayout="row">
    <div fxLayout="column" fxFlex="60%" class="lista">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <mat-table [dataSource]="dataSource" matSort style="cursor: pointer">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="onClickMe(element.id)">
                    {{ element.name }}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div fxLayoutAlign="left">
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>

    <div fxFlex="60%" class="grid">
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="5px">
            <div *ngFor="let m of Mesas;">
                <mat-grid-tile [ngStyle]="{ 'color': (m.data.free ? 'green' : 'red')}">
                    <img src="./assets/universe.jpg">
                    <mat-grid-tile-header>
                        {{m.data.sillas }}
                    </mat-grid-tile-header>
                </mat-grid-tile>
            </div>
        </mat-grid-list>

        <div *ngFor="let r of Mesas;">
            <ul>
                <li>
                    <p>{{r.id}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>